# Python
.venv/
__pycache__/
*.pyc
*.pyo
.env
*.sqlite3
db.sqlite3

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Medii virtuale Python
venv/
.venv/
scraper-service/venv/
__pycache__/
