Django>=5.0.0
djangorestframework>=3.15.0
djangorestframework-simplejwt>=5.3.1
django-cors-headers>=4.3.1
mysqlclient>=2.2.0
python-dotenv>=1.0.1
google-genai>=0.3.0
mcp>=1.2.0
requests>=2.31.0
scrapling[fetchers]>=0.4.8
beautifulsoup4>=4.12.3
