asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
greenlet==3.3.2
mysqlclient==2.2.8
numpy==2.4.4
pandas==3.0.2
playwright==1.58.0
playwright-stealth==1.0.6
pyee==13.0.1
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
